/* Whole document: */
body {
  font-family: Source Sance Pro;
  font-size: 16pt;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: Open Sance;
  font-size: 24pt;
}

slides > slide {
  color: #444444;
}

pre {
  font-weight: 500;
}

.prettyprint {
  background-color: #f0f0f0;
}

code {
  font-weight: 500;
}


/* No Logo on title page */
.gdbar img {
  width: 0px !important;
  height: 0px !important;
  margin: 0px 0px;
}

.gdbar {
  width: 0px !important;
  height: 0px !important;
}


/*background picture as logo on title page*/
slides > slide.title-slide {
    background-image: url(numeract_logo_tag.png), url(power_yall_logo.png);
    background-repeat: no-repeat;
    background-position: left top, 93% 85%;
    background-size: 75%, 30%;
}


/*slide picture*/
slides > slide[data-slide-num= "3"]
{
    background-image: url(numeract_logo.png), url(power_yall_logo.png);
    background-repeat: no-repeat;
    background-position: 2% 23%, 2% 65%;
    background-size: 30%, 25%;
}


slides > slide[data-slide-num= "16"]
{
    background-image: url(shiny.png);
    background-repeat: no-repeat;
    background-position: 70% 18%;
    background-size: 10%;
}


slides > slide[data-slide-num= "20"]
{
    background-image: url(plumber_2.png);
    background-repeat: no-repeat;
    background-position: 70% 95%;
    background-size: 30%;
}


slides > slide[data-slide-num= "23"]
{
    background-image: url(plumber_1.png);
    background-repeat: no-repeat;
    background-position: 70% 5%;
    background-size: 10%;
}


slides > slide[data-slide-num= "24"]
{
    background-image: url(power_yall_logo.png);
    background-repeat: no-repeat;
    background-position: 90% 10%;
    background-size: 15%;
}


slides > slide[data-slide-num= "27"]
{
    background-image: url(docker.png), url(rstudio.png);
    background-repeat: no-repeat;
    background-position: 90% 40%, 90% 50%;
    background-size: 8%, 8%;
}


slides > slide[data-slide-num= "29"]
{
    background-image: url(power_yall_logo.png);
    background-repeat: no-repeat;
    background-position: 90% 10%;
    background-size: 15%;
}
